a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    font-family: arial,sans-serif;
    font-size: 14px;
}
input:focus,
select:focus,
textarea:focus{
    outline: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, auto);
}

/*Navbar*/
.navbar {
    /* border-style: solid; */
    grid-column: 1/9;
    grid-row: 1/2;
    height: 1em;
}

.navItems {
    display: grid;
    grid-template-columns: 0.6fr 9fr 0.5fr 0.7fr 0.45fr 0.45fr;
    list-style-type: none;
}

.navItems a{
    color: #222;
}
.navItems button {
    background-color: white;
    border-style: none;
}
#sharingan {
    position: relative;
    top: -0.4em;
    left: 0.2em;
}
#dot:hover {
    box-shadow: 0px 0px 5px 7px #e4e4e4;
    border-radius: 50%;
} 

/*Main Part*/
.main {
    /* border-style: solid; */
    grid-column: 3/8;
    grid-row: 1/4;
    margin-top: 10em;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
.inner img {
    /* margin-left: 29%; */
    margin-left: 16em;
    margin-bottom: 5px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.inner form {
    grid-column: 1/3;
    grid-row: 2/3;
}
.inner input {
    width: 550px;
    height: 34px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(211, 205, 205);
    margin-left: 6.5em;
    padding-left: 2.5em;
    font-family: arial,sans-serif;
    font-size: 16px;
}

input[type='text'] {
    background-image: url(images/mag.png);
    background-size: 15px 15px;
    background-position: 12px 10px;
    background-repeat: no-repeat;
}
#input_img {
    position:relative;
    bottom: 2.15em;
    right: -31.5em;
    width: 14px;
    height: 20px;
}

.inner input:hover {
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    box-shadow: 0px 0px 10px 1px #b8b1b1;
}

.b1 {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 36px;
    width: 135px;
    text-align: center;
    font-size: 14px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-top: 4.5em;
    margin-left: 19em;
    border-style: none;
}
.b1:hover {
    box-shadow: 0px 0px 10px 1px #b8b1b1;
}

.b2 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 36px;
    width: 135px;
    text-align: center;
    font-size: 14px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-top: 4.5em;
    margin-left: -4em;
    border-style: none;
}
.b2:hover {
    box-shadow: 0px 0px 10px 1px #b8b1b1;
}

.inner p {
    grid-column: 1/3;
    margin-left: 23.5em;
    margin-top: 0em;
    color: black;
}
.inner a {
    color: #1a0dab;
}

/*Footer*/
.footer {
    position: fixed;
    top: 44.5em;
    right: 0.1em;
    width: 100%;
    margin-top: 1.5em;
}
.canada {
    border-style: none;
    border-bottom: 1px solid #ccc7c7;
    background-color: #F2F2F2;
    height: 2.8em;
    padding-left: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
}
.bottomLinks {
    margin-top: 0em;
    padding-top: 0.85em;
    padding-bottom: 0.7em;
    padding-left: 3em;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 10fr 1fr 1fr 0.4fr 0.4fr 0fr;
    list-style-type: none;
    background-color: #F2F2F2;
}
.bottomLinks a, p{
    color: #70757a;
}


@media screen and (min-width: 1900px) {
    .footer {
        position: fixed;
        top: 60em;
        right: 0.1em;
        width: 100%;
        margin-top: 1.5em;
    }
    .main {
        /* border-style: solid; */
        grid-column: 3/8;
        grid-row: 1/4;
        margin-top: 10em;
        margin-left: 5em;
    }
    #input_img {
        position:relative;
        bottom: -0.65em;
        left: -18.3em; 
        width: 14px;
        height: 20px;
    }
    .b1 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 36px;
        width: 135px;
        text-align: center;
        font-size: 14px;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin-top: 4.5em;
        margin-left: 17em;
        border-style: none;
    }
    .b2 {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 36px;
        width: 135px;
        text-align: center;
        font-size: 14px;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin-top: 4.5em;
        margin-left: -10em;
        border-style: none;
    }
  }


  @media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-auto-rows: minmax(10px, auto);
    }    
    .navItems {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        width: 130%;
    }
    .footer {
        position: fixed;
        top: 88.1em;
        right: 0.1em;
        width: 100%;
        margin-top: 1.5em;
    }
    .bottomLinks {
        margin-top: 0em;
        padding-top: 0.85em;
        padding-bottom: 0.7em;
        padding-left: 3em;
        display: grid;
        grid-template-columns: 1.2fr 1fr 3fr 0.9fr 0.8fr 0.7fr 0.7fr;
        list-style-type: none;
        background-color: #F2F2F2;
    }
    .main {
        /* border-style: solid; */
        grid-column: 3/8;
        grid-row: 1/4;
        margin-top: 10em;
        margin-left: -5.5em;
    }
    .inner input {
        width: 500px;
        height: 34px;
        border-radius: 20px;
        border-width: 1px;
        border-color: rgb(211, 205, 205);
        margin-left: 6.5em;
        padding-left: 2.5em;
        font-family: arial,sans-serif;
        font-size: 16px;
    }
    .b1 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 36px;
        width: 135px;
        text-align: center;
        font-size: 14px;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin-top: 4.5em;
        margin-left: 17em;
        border-style: none;
    }
    .b2 {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 36px;
        width: 135px;
        text-align: center;
        font-size: 14px;
        background-color: #f8f9fa;
        border-radius: 4px;
        margin-top: 4.5em;
        margin-left: 1em;
        border-style: none;
    }
    .inner p {
        margin-left: 21.5em;
        margin-top: 0em;
        color: black;
    }
    #input_img {
        position:relative;
        bottom: 2em;
        left: 28.3em; 
        width: 14px;
        height: 20px;
    }
  }
  